@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Thank you for evaluating my COMP 4602 Assignment 02.  - John Glenn A00777452.</p>
</div>


<component type="typeof(ItemList)" render-mode="ServerPrerendered" />