

@{
    ViewData["Title"] = "Home Page";

    var loanDueDateDisplayName = "Loan Due Date";
    var loanDueDateValue = "";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Thank you for evaluating my COMP 4602 Assignment 02.  - John Glenn A00777452.</p>
</div>



<component type="typeof(DatePicker2)" render-mode="ServerPrerendered" />



<component type="typeof(BooksOnLoan.Components.Pages.QuoteOfTheDay)" render-mode="ServerPrerendered" />
