@model IEnumerable<CustomUser>
@{
    ViewData["Title"] = "Roles";
    var userManager = ViewBag.UserManager as Microsoft.AspNetCore.Identity.UserManager<CustomUser>;
}

<div class="text-center">
    <h1 class="display-4">User Permissions for All Users</h1>
</div>

<table class="table table-sm table-bordered table-bordered">
    <tr><th>E-Mail</th><th>Admin</th><th>Patron</th><th>Edit</th></tr>
    @foreach (var user in Model)
    {
        bool isInAdminRole = await userManager!.IsInRoleAsync(user, "Admin");
        bool isInMemberRole = await userManager!.IsInRoleAsync(user, "Member");

        <tr>
            <td>@user.Email</td>
            <td>@isInAdminRole</td>
            <td>@isInMemberRole</td>
            <td><a asp-controller="UserPermission" asp-action="Edit" asp-route-id="@user.Id">Edit</a></td>
        </tr>
    }
</table>